.App {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: ;
}
