/* App.css */

/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

.home{
  /* width: 100%; */
  /* height: 500px;  */
  background: #7eb0c0;
  /* linear-gradient(80deg,  black,  #7eb0c0); */
 
  
}

.header-pic{
  width: 80%;
  background-position: center;
}
/* 
.body{
  background: linear-gradient( #FFFFFF, #00A8E8, #007EA7, #003459);
  animation: gradient 25s ease infinite;
  height: 100%;
} */

.my-picture{
  border-radius: 40%;
  width: 70%;
  /* height: 700px; 
  background-color: black
   */
  
}
.homefont{
  font-family: 'rethink sans';
  font-size: 55px;
  color: black;
  font-weight:800;
  padding-top: 200px;
  /* text-shadow: -3px -3px white, -4px -4px black; */
}

.quote {
  text-align: center;
}


.micpic {
    border-radius: 50%;
    width: 100px;
}

.logopic {
  border-radius: 50%;
  width: 50px;
}

.sticky {
  position: fixed;
  top: 0;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: turquoise;
  color: white;
  padding: 10px 20px;
} */


.nav {
  background-color: transparent;
  width: 100%;
  /* padding: 10px 20px; */
 }

 .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#1e1e1e;
  background-color: #7eb0c0;
}

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav li {
    margin: 0 20px;
  }
  
  .nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }
  
  
    .about {
      background: #7eb0c0;
      /* linear-gradient( #7eb0c0, 70%, black); */
      
    }
    .biofont{
      text-align: justify;
    text-justify: inter-word;
    }

    .demos {
      background: #7eb0c0;
      /* linear-gradient( #6daad6, 70%, #126cb0);
       */
    }

    .studio{
      background: #7eb0c0;
    }
    
  
  .section {
    padding: 100px;
    color: black;
  }
  
  .section h2 {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .contact-form button {
    background-color: turquoise;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: black;
  } 

/* AUDIO PLAYER ------------------------------------------------ */
.audio-player {
  background: transparent;
  width: 300px;
  border: solid#fff;
  
  
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* audio info */
.audio-info {
  display: flex;
  gap: 20px;
}

.text {
  color: rgb(255, 255, 255);
}

.title {
  color: #fff;
  font-weight: 100;
  font-size: 32px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
  /* background-color: rgba(0,0,0,.8); */
}

/* audio image */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.audio-image {
  width: 300px;
  height: 300px;
  background: #1e1e1e; 
}

.audio-icon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #989898;
}

.audio-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* controls */
.controls-wrapper {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls button, .volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

/* the icons for moving forward and backward, and volume icon*/
button svg {
  font-size: 20px;
}

.volume {
  
  display: flex;
  align-items: center;
  
}

.volume button {
  margin: 0;
}

.progress {
  background-color: green;
  display: flex;
  align-items: center;
  gap: 10px;
  color:aquamarine;
  /* width: 50%; */
}

/* time */
.time {
  color: #333;
  font-size: 13px;
  line-height: 46px;
}

.time.current {
  color: rgb(255, 255, 255);
}

.demo-description {
  font-size:10px;
  color: black;
}

/* Top bar */
.top__bar {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f2;
}

.top__bar a {
  color: inherit;
}

.top__bar p {
  margin: 0;
}



/* END AUDIO PLAYER ------------------------------------------------ */